<div class="container" ng-controller="HomeController as homeCtrl">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>DeviceLab</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav nav-tabs">
        <li ng-class="{ active: homeCtrl.selectedTab === 'login' }"
          ng-click="homeCtrl.switchContext('login')">
          <a>Login</a>
        </li>

        <li ng-class="{ active: homeCtrl.selectedTab === 'sign-up' }" 
          ng-click="homeCtrl.switchContext('sign-up')">
          <a>Cadastro</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-top: 15px;">
    <div class="col-md-6 col-md-offset-3">
      <form>
        <div class="form-group" ng-show="homeCtrl.selectedTab === 'sign-up'">
          <label>Nome:</label>
          <input type="text" class="form-control" ng-model="homeCtrl.form.name">
        </div>

        <div class="form-group">
          <label>E-mail:</label>
          <input type="text" class="form-control" ng-model="homeCtrl.form.email">
        </div>

        <div class="form-group">
          <label>Senha:</label>
          <input type="password" class="form-control" ng-model="homeCtrl.form.password">
        </div>

        <button class="btn btn-success" ng-click="homeCtrl.submit()">Enviar</button>
      </form>
    </div>
  </div>

  <div class="row" ng-show="homeCtrl.message">
    <div class="col-md-12">
      <span class="text-danger">{{homeCtrl.message}}</span>
    </div>
  </div>
</div>
