<div class="container" ng-controller="ProfileController as pCtrl">
  <div class="row" style="padding-top: 15px;">
    <div class="col-md-6 col-md-offset-3">
      <form>
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" class="form-control" disabled ng-model="pCtrl.form.name">
        </div>

        <div class="form-group">
          <label>E-mail:</label>
          <input type="text" class="form-control" disabled ng-model="pCtrl.form.email">
        </div>

        <div class="form-group">
          <label>Data de Criação:</label>
          <input type="text" class="form-control" disabled ng-model="pCtrl.form.creation_date">
        </div>

        <div class="form-group">
          <label>Último Acesso:</label>
          <input type="text" class="form-control" disabled ng-model="pCtrl.form.last_access">
        </div>

        <button class="btn btn-success" ng-click="pCtrl.submit()">Sair</button>
      </form>
    </div>
  </div>
</div>
